@media (max-width: 480px) {
  .modul-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-columns: 80%;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 20px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin-left: 0;
    padding-left: 20px;
  }

  .modul {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
  }

  #search-input {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .sidebar {
    position: static;
    width: auto;
    margin: 20px;
  }
}
